.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.oval {
    width: 90px;
    height: 90px;
    border: 33px solid black;
    border-radius: 41%;
    position: relative;
    overflow: hidden;
}

.circle {
  width: 45px;
  height: 45px;
  background-color: #d6006e; 
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: moveUpDown 1.5s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 80px; 
  }
}