.inputField {
  margin-top: 0.5rem;
  display: block;
  width: -webkit-fill-available;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 0.75rem;
}

.inputField:focus {
  outline: none;
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
}

.spacing {
  padding: 0.5rem;
}
