.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logoContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logoImage {
  height: 40px; 
  width: auto;
}

.logoutButton{
  margin: 0;
}

.logoutButton:hover{
  background-color: #000; 
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon{
  font-size: 1.5rem;
  color: white;
  margin-right: 0.5rem;
}

/* Versión responsive */
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
  
  .logoImage {
    height: 32px;
  }
}